<div class="loader">
    <img src="inc/image/loading.gif" alt="loader">
</div>

<div class="card" ng-if="controller.errorMessage">
	<span class="error" ng-bind="controller.errorMessage"></span>
</div>

<div class="card" ng-if="!controller.errorMessage">
	<div class="sort">
		<span class="sort-text">Sort:</span>
		<select ng-model="controller.time" ng-change="app.setLocation($event, 'r/'+controller.subreddit+'/'+controller.sort+'/'+controller.time+'/'+controller.last)">
			<option value="day">past 24 hours</option>
			<option value="week">past week</option>
			<option value="month">past month</option>
			<option value="year">past year</option>
			<option value="all">all time</option>
		</select>
	</div>
</div>

<div class="posts">
	<div class="card link" id="{{post.data.id}}" ng-repeat="post in controller.posts track by $index"  ng-class="{'link-stickied': post.data.stickied}">
		<div class="rank" ng-bind="::$index+1"></div>
		<div class="vote">
			<div class="score" ng-bind="::post.data.score"></div>
		</div>

		<hoverimage post="post.data"></hoverimage>
		
		<div class="entry">
			<a ng-if="post.data.is_self" class="title" href="{{post.data.url}}" ng-click="app.setLocation($event, 'post/'+post.data.subreddit+'/'+post.data.id,false)">
				<span ng-if="post.data.stickied" class="linkflairlabel stickied">sticky</span> 
				<span class="linkflairlabel" ng-if="post.data.link_flair_text" ng-bind="::post.data.link_flair_text"></span> 
				<span class="nsfwtag" ng-if="post.data.over_18">NSFW</span> 
				<span ng-bind-html="::post.data.title"></span>
			</a>
			<a ng-if="!post.data.is_self" class="title" href="{{post.data.url}}" ng-click="app.setLocation($event, post.data.url, true)">
				<span ng-if="post.data.stickied" class="linkflairlabel stickied">sticky</span> 
				<span class="linkflairlabel" ng-if="post.data.link_flair_text" ng-bind="::post.data.link_flair_text"></span> 
				<span class="nsfwtag" ng-if="post.data.over_18">NSFW</span> 
				<span ng-bind-html="::post.data.title"></span>
			</a>

			<span class="domain"><a href="" ng-bind="::'('+post.data.domain+')'"></a></span>
			
			<p class="tagline">submitted by <a ng-click="app.setLocation($event, 'http://www.reddit.com/user/' + post.data.author, true)" class="author" ng-bind="post.data.author"></a>
				to <a ng-click="app.setLocation($event, 'r/'+post.data.subreddit+'/top',false)" class="subreddit" ng-bind="::post.data.subreddit"></a> 
				{{post.data.created_utc | utcdatetolocal | timeago}} 
			</p>

			

			<ul class="flat-list buttons">
				<li class="first">
					<a ng-click="app.setLocation($event, 'post/'+post.data.subreddit+'/'+post.data.id,false)" class="comments" ng-bind="::post.data.num_comments + ' comments'"></a>
				</li>
			</ul>
			<clickviewtext link="post.data" ng-if="post.data.is_self"></clickviewtext>
		</div>

		<div class="clear"></div>
		<div ng-if="$index == controller.posts.length-5" in-view="$inview&&controller.loadMore()"></div>
	</div>
	<div class="pagination">
		<button ng-click="app.setLocation($event, 'r/'+controller.subreddit+'/'+controller.sort+'/'+controller.time+'/'+controller.first+'/before')" class="btn btn-prev">&lt; prev</button>
		<button ng-click="app.setLocation($event, 'r/'+controller.subreddit+'/'+controller.sort+'/'+controller.time+'/'+controller.last+'/after')" class="btn btn-next">more &gt;</button>
	</div>	
</div>