<div ng-if="comment.data.body_html">
    <span class="score" ng-bind="::comment.data.score"></span>
    <div class="entry" ng-class="{'collapsed': isCollapsed}">
        <p class="tagline">
            <span ng-click="app.setLocation('http://www.reddit.com/user/' + comment.data.author, true)" class="author" ng-bind="::comment.data.author"></span>
            <span ng-bind="::comment.data.created_utc | utcdatetolocal | timeago"></span>
            -
            <a ng-click="collapse()" ng-bind="collapseText"></a>
        </p> 
        <div class="usertext">
            <div class="usertext">
                <div class="usertext-body">
                    <div class="md">
                        <p ng-bind-html="::comment.data.body_html | unescape | markdown"></p>
                    </div>
                </div>
            </div>
        </div>
        <ul class="flat-list buttons">
            <li class="first">
                <a href="http://www.reddit.com{{controller.post.permalink}}{{comment.data.id}}" ng-click="app.setLocation($event, 'http://www.reddit.com'+controller.post.permalink+comment.data.id, true, true)">Comment on reddit</a>
            </li>
        </ul>
    </div>
    <div ng-if="comment.data.replies" class="child" ng-class="{'collapsed': isCollapsed}">
        <div ng-repeat="comment in comment.data.replies.data.children" class="comment">
            <tree class="comment" comment="comment" app="app" controller="controller"></tree>
            <div class="clear"></div>
        </div>
    </div>
    <div class="clear"></div>
</div>