<div class="card settings">
	<p> Adjust your settings </p>

	<div class="checkboxes">
		<div class="card-toggle">
        	<label>Disable cards:<input type="checkbox" ng-model="app.disableCards"></label>
	    </div>
	    <div class="headbar-toggle">
	    	<label>Sticky header:<input type="checkbox" ng-model="app.stickyHeader"></label>
	    </div>
	    <div class="clear"></div>
	</div>
	
	<div class="font-size">
		<label>Font size: <input type="text" ng-model="app.fontSize" ng-bind="app.fontSize"></input></label>
	</div>
	

    <div class="clear"></div>
</div>