<div class="loader">
    <img src="inc/image/loading.gif" alt="loader">
</div>

<div class="card" ng-if="controller.errorMessage">
	<span class="error" ng-bind="::controller.errorMessage"></span>
</div>

<div class="card link">
	<div class="vote">
		<div class="score" ng-bind="::controller.post.score"></div>
	</div>

	<hoverimage post="controller.post"></hoverimage>
 
	<div class="entry">
		<a ng-if="controller.post.is_self" class="title" href="{{controller.post.url}}" ng-click="app.setLocation($event, 'post/'+controller.post.subreddit+'/'+controller.post.id,false)">
			<span ng-if="controller.post.stickied" class="linkflairlabel stickied">sticky</span> 
			<span class="linkflairlabel" ng-if="controller.post.link_flair_text" ng-bind="::controller.post.link_flair_text"></span> 
			<span class="nsfwtag" ng-if="controller.post.over_18">NSFW</span> 

			<span ng-bind-html="::controller.post.title"></span>
		</a>
		<a ng-if="!controller.post.is_self" class="title" href="{{controller.post.url}}" ng-click="app.setLocation($event, controller.post.url, true)">
			<span ng-if="controller.post.stickied" class="linkflairlabel stickied">sticky</span> 
			<span class="linkflairlabel" ng-if="controller.post.link_flair_text" ng-bind="::controller.post.link_flair_text"></span> 
			<span class="nsfwtag" ng-if="controller.post.over_18">NSFW</span> 

			<span ng-bind-html="controller.post.title"></span>
		</a>
		
		<span class="domain"><a href="" ng-bind="'('+controller.post.domain+')'"></a></span>

		<p class="tagline">submitted by <a ng-click="app.setLocation($event, 'http://www.reddit.com/user/' + controller.post.author, true)" class="author" ng-bind="::controller.post.author"></a> {{controller.post.created_utc | utcdatetolocal | timeago}}  </p>

		<div ng-if="controller.post.html" ng-bind-html="controller.post.html | markdown" class="quickshow"></div>
		<div ng-if="controller.post.selftext" ng-bind-html="controller.post.selftext | markdown" class="quickshow"></div>
	</div>

	<div class="clear"></div>
</div>	

<div class="link">
	<div class="panestack-title">
		<span class="title" ng-if="controller.limit">top {{controller.limit}} comments</span>
		<span ng-if="controller.limit < 500" ng-click="app.setLocation($event, 'post/'+controller.post.subreddit+'/'+controller.post.id+'/500',false)" class="btn-showmore">show 500</span>
	</div>
	<div class="comments">
		<!-- <div ng-repeat="comment in controller.comments track by comment.data.id" class="comment card" ng-include="'commentTree'">
	</div> -->
	<tree class="comment card" ng-repeat="comments in controller.comments" comment="comments"></tree>
	<div class="clear"></div>
</div>
</div>